include README.txt
include LICENSE.txt
include CHANGES.txt
include docs/
include oceans/*.py
include oceans/colormaps/cmap_data/*.cpt
include oceans/colormaps/cmap_data/*.npz
include oceans/colormaps/*.py
include oceans/ff_tools/*.py
include oceans/RPStuff/*.py
