name: pip-tests

on:
  pull_request:
  push:
    branches: [master]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Setup python
      uses: actions/setup-python@v2

    - name: Python ${{ matrix.python-version }}
      run: |
        pip install -r requirements.txt -r requirements-dev.txt
        pip install -e . --no-deps --force-reinstall
        
    - name: Tests
      run: |
        pytest -rxs --cov=oceans tests
  
     